.DS_Store
.cache/
.dap-breakpoints
.git/
.last-package-update-day
.lsp-session-v1
.path
amx-items
auto-save-list/
bookmarks
elpa/
eshell/
flycheck_init.el
history
*.db
persp-confs/
places
*.eld
recentf
straight/
tools/
transient/
var/
